<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center" style="max-width: 25rem; width: 100%;">
        <h1 class="mb-5">Edit profile</h1>

        <%= form_with model: @user do |form| %>
            <% if @user.errors.any? %>
                <div class="alert alert-danger">
                    <% @user.errors.full_messages.each do |message| %>
                        <div><%= message %></div>
                    <% end %>
                </div>
            <% end %>

            <%= form.fields_for :user_detail do |user_detail| %>
                <div class="pt-5 mb-3">
                    <%= user_detail.label :name, class: "form-label" %>
                    <%= user_detail.text_field :name, class: "form-control text-center", placeholder: "Matthews" %>
                </div>
            <% end %>

            <div class="mb-3">
                <%= form.label :email, class: "form-label" %>
                <%= form.email_field :email, class: "form-control text-center", placeholder: "matthews@example.com" %>
            </div>

            <div class="mb-3">
                <%= form.label :password, class: "form-label" %>
                <%= form.password_field :password, class: "form-control text-center", placeholder: "password" %>
            </div>

            <div class="mb-3">
                <%= form.label :password_confirmation, class: "form-label" %>
                <%= form.password_field :password_confirmation, class: "form-control text-center", placeholder: "password" %>
            </div>

            <div class="d-grid gap-2 pt-5">
                <%= form.submit "Save", class: "btn btn-primary mt-4" %>
            </div>
        <% end %>
    </div>
</div>